<h1>Artists</h1>
<ul>
    <% @artists.each do |artist| %>
        <li>
            <%= link_to artist['name'], artist_path(artist['id']) %>
        </li>
    <% end %>
</ul>
<p>Find me in app/views/artists/index.html.erb</p>
