<h1>Artists</h1>
<ul>
    <% @artists.each do |artist| %>
        <li>
            <%= link_to artist['name'], artist_path(artist['id']) %>
        </li>
    <% end %>
    <img src='https://i.pinimg.com/736x/c3/f9/46/c3f9463b2d9f27f7394b6d9d0c0df1a3.jpg' alt="Red Velvet">
</ul>
<p>Find me in app/views/artists/index.html.erb</p>
