<h1>Song: <%= @song['title'] %></h1>
<h2>Artists</h2>
<ul>
    <% @artists.each do |artist| %>
        <li><%= artist['name'] %></li>
    <% end %>
</ul>
<p>Find me in app/views/songs/show.html.erb</p>
