<h1>Albums</h1>
<ul>
    <% @albums.each do |album| %>
        <li>
            <%= link_to album['title'], album_path(album['id']) %>
        </li>
    <% end %>
    <img src='https://www.asianjunkie.com/wp-content/uploads/2024/06/RedVelvetCosmic.jpg' alt="Cosmic">
    <img src='https://www.allkpop.com/upload/2024/11/content/111226/1731345989-image.png' alt="Like a Flower">
</ul>
<p>Find me in app/views/albums/index.html.erb</p>
