<h1><%= @album['title'] %></h1>
<h2>Songs in this Album:</h2>
<ul>
    <% @songs.each do |song| %>
        <li>
            <%= link_to song['title'], songs_path(song['id']) %>
        </li>
    <% end %>
</ul>

<p>Find me in app/views/albums/show.html.erb</p>
